@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900|Roboto:300,400,700,900');

body {
    color: #303030;
    background-color: #EAD0D0;
}
a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}
.logo {
    font: 900 48px  Roboto, sans-serif; /*black*/
    float: left;
}
header, .slider-nav, main, footer {
    width: 75%;
    max-width: 1500px;
    margin: 38px auto;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-list {
    display: inline-block;
    margin: 0 0 0 30px;
    cursor: pointer;
    position: relative;
}
.menu-list:before {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 50%;
    background-color: #303030;
}
.menu-list:hover:before {
    width: 50%;
}
.menu-list:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 0;
    bottom: 0;
    right: 50%;
    background-color: #303030;
}
.menu-list:hover:after {
    width: 50%;
}
nav ul {
     float: right;
     font: 400 18px Roboto, sans-serif;
     padding-top: 23px;
}
h2 {
    font: 900 150px Raleway, sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    letter-spacing: 3px;
}
footer {
    margin-top: 70px;
}
.slider a {
    color: #e10011;
    font: 700 24px Roboto, sans-serif;
    text-decoration: none;
}
.clear {
     clear: both
}
.slider-left {
     float: left;
     width: 55%;
     text-align: right;
     padding-right: 16px;
     min-width: 620px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
 .slider p {
     font: 300 24px Roboto, sans-serif;
 }
.slider-nav span {
    display: inline-block;
    height: 10px;
    width:10px;
    border-radius: 50%;
    background-color: black;
    margin: 100px auto;
}
.slider {
    padding-top: 55px;
}
.product-categories {
    background-color: #fff;
}
.product-categories h3, footer h3 {
    font: 900 48px Raleway, sans-serif;
}
.copyright {
    color: #979797;
}
.product-categories p,
footer p, .your_company {
    font: 400 18px Raleway, sans-serif;
    max-width: 570px;
    margin:  20px auto 78px auto;
    line-height: 24px;
    color: #303030;
}
.product-categories li {
    display: inline-block;
    margin: 0 17px 40px 17px;
    border-radius: 8px;
    position: relative;
}
.product-categories {
    padding: 52px 0 30px 0;
}
input[type="text"] {
    width: 70%;
    height: 72px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    padding-left: 35px;
}
input[type="text"], .subscribe-btn,
input:focus, input:target {
    border: none;
    outline: none;

}
input, button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
::-webkit-input-placeholder {font-weight: 900;}
::-moz-placeholder          {font-weight: 900;}/* Firefox 19+ */
:-moz-placeholder           {font-weight: 900;}/* Firefox 18- */
:-ms-input-placeholder      {font-weight: 900;}

.subscribe-btn {
    font-family: Roboto, FontAwesome, sans-serif;
    font-size: 18px;
    font-weight: 900;
    height: 72px;
    width: 28%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: #e10011;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    padding-left: 45px;
    vertical-align: bottom;
}
.subscribe-btn:active {
    background-color: #8e0b0b;
}
.subscribe-btn:hover i {
    margin-left: 5px;
}
.product-list {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.item {
    float: left;
}
.item div {
    position: relative;
    width: 100%;
    height: 100%;
}
.item a {
    text-align: left;
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: #fff;
    font: 900 30px Roboto, sans-serif;
    padding: 40px;
    opacity: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.item:hover a {
    opacity: 1;
}
.item a span span {
    border-bottom: 7px solid #fff;
}
.form-subscribe {
    max-width: 737px;
    margin: auto;
    text-align: center;
}
.social a {
    font-size: 34px;
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin: 100px auto;
    line-height: 80px;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block; /* сделать блоком, т.к. inline не может иметь clear */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
    clear: both; /* с обеих сторон clear */
}
a, li:before, li:after, i {
    transition: all .3s ease-in;
}
.product-name {
    position: absolute;
    bottom: 40px;
}

@media screen and (max-width: 900px) {
    header, .slider-nav, main, footer {
        width: 95%;
        margin: 20px auto;
        text-align: center;
    }
}
@media screen and (max-width: 660px) {
    h2, .logo {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    .slider-left {
        min-width: 320px;
    }
    .subscribe-btn,
    input[type="text"] {
        width: 100%;
        border-radius: 10px;
        margin: 3px;
        }
    nav ul, .logo {
        float: none;
    }
    .menu-list {
        margin-left: 5px;
    }
    .social a {
        margin: 15px;
    }
}
